[
  {enode, []},

  {lager, [
          {log_root, "/var/log/smsrouter"},
          {handlers, [
          {lager_console_backend, [{level, info}, {formatter, lager_default_formatter}, {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]}]},
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]},
          {lager_file_backend, [{file, "warning.log"}, {level, warning}]}
          ]}
]}].
