{erl_opts, [debug_info,
           {parse_transform, lager_transform}]}. %%lager 


%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

{deps, [
       {taran, ".*", {git, "https://github.com/stofel/taran.git", {branch, "master"}}},
       {lager,  {git, "https://github.com/erlang-lager/lager", {tag, "3.6.9"}}}]}.


{relx, [{release, {enode, "1.0.0"},
         [enode,
          sasl,
          taran,
          lager]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {system_libs, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
